@import "tailwindcss";

@theme {
  --color-page: #e8e3dc;
  --color-main: #e8e3dc;
  --color-card: #f6f3ef;

  --color-hero: #d8cfc4;
  --color-section: #eee9e3;

  --color-header: #542323;
  --color-footer: #542323;

  --color-brand: #a9533d;

  --color-primary: #542323;
  --color-primary-dark: #3f1919;
}